# 注释类型1
# 注释类型2


# 文件更改后实时生效，无需重启或加载

# 用户id
test_user:
# 权限节点
    - abc.213.31
    - 1.2.3.4
    # 可以包含其他用户组
    - group: test_group2
    # 可以包含其他用户
    - user: test_user2
    # 注意不要循环包含，这会导致死循环
    # - user: test_user

test_user2:
    - a.abc
    - b.c

# _default是特殊用户，若指定的用户不存在，则会使用_default权限
# 该权限必须存在，并且不得为空（可以随意写一个无用或假权限节点在这里）
_default:
    # 权限节点
    - a.b.c.d
    - b.c.d
    # 可以包含其他权限组
    - group: test_group2
    # 可以包含其他用户
    - user: test_user